button {
  width: 15vw;
  height: 2.5vh;
  background-color: var(--tertiaryColor);
  color: var(--primaryColor);
  border: 0px;
}
p {
  width: 65%;
}

.bioContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--fiveColor);
  width: 100vw;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  background-color: var(--fiveColor);
  width: 100%;
}
