:root {
  --primaryColor: #ffffff;
  --secondaryColor: #e0d3d3;
  --tertiaryColor: #8d7575;
  --fourColor: #997d7d;
  --fiveColor: #faf0f0;
}

button {
  margin: 2%;
  width: 5vw;
}
.splide__slide img {
  width: 70%;
  height: auto;
  border-radius: 5px;
  border: solid 1px black;
}

.carouselContainer {
  display: flex;
  justify-content: center;
  background-color: var(--secondaryColor);
  padding: 6%;
}
.carousel {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style-type: none;

  width: 60%;
  height: auto;
}
