.carousel {
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-align: center;
  list-style-type: none;

  width: 100vw;
  height: 60vh;
}

.buttons {
  display: flex;
  justify-content: center;
}
