:root {
  --primaryColor: #f0ece9;
  --secondaryColor: #8c747c;
}
* {
}
.navContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100vw;
  height: 5vh;
  background-color: var(--primaryColor);
}

.linkContainer {
  display: flex;
  justify-content: space-evenly;
  width: 14%;
}

.linkItem {
  list-style-type: none;
}

.brandContainer {
  display: flex;
  justify-content: center;
  width: 70%;
  font-size: 1.5rem;
}

.iconContainer {
  display: flex;
  justify-content: space-evenly;
  width: 15%;
}
