.bigContainer {
  width: 100vw;
  background-color: var(--fiveColor);
  display: flex;
  justify-content: center;
}
.shrinkContainer {
  width: 50%;
}
.navContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 5vh;
  padding: 2%;
}

.linkContainer {
  display: flex;
  justify-content: space-evenly;
  width: 25%;
}

.linkItem {
  list-style-type: none;
}

.brandContainer {
  display: flex;
  justify-content: center;
  width: 48%;
  font-size: 1.75rem;
}
